*{
    margin: 0%;
    padding: 0%;
}

#svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.line {
    stroke-width: 3px;
    stroke: black;
    position: relative;
    transform: translate(-213px, -55px);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container{
    position: relative;
    width: 1000px;
    height: 1000px;
} */

.circle_common {
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    border: #fff 5px solid;
    border-radius: 50%;
    background-color: #e6e6e6;
    /* transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel_ten{
    width: 1000px;
    height: 1000px;
    border: #008080 5px solid !important;
}

.wheel_nine{
    width: 900px;
    height: 900px;
    
}

.wheel_eight{
    width: 800px;
    height: 800px;
}

.wheel_seven{
    width: 700px;
    height: 700px;
}

.wheel_six{
    width: 600px;
    height: 600px;
}

.wheel_five{
    width: 500px;
    height: 500px;
}

.wheel_four{
    width: 400px;
    height: 400px;
}

.wheel_three{
    width: 300px;
    height: 300px;
}

.wheel_two{
    width: 200px;
    height: 200px;
}

.wheel_one{
    width: 100px;
    height: 100px;
}

ul.number_list {
    list-style: none;
    position: absolute;
    padding-bottom: 38px;
    /* transform: rotate(0deg); */
    left: 50.5%;
    bottom: 51.7%;
    transform-origin: bottom center;
    z-index: 1;
}

ul.number_list > li {
    padding: 2px 8px;
    margin-top: 27.5px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

ul.number_list > li.active_point {
    background-color: #000;
}

.number_list.number_list-1 {
    transform: translate(-50%, 0) rotate(360deg);
}
.number_list.number_list-2 {
    transform: translate(-50%, 0) rotate(324deg);
}
.number_list.number_list-3 {
    transform: translate(-50%, 0) rotate(288deg);
}
.number_list.number_list-4 {
    transform: translate(-50%, 0) rotate(252deg);
}
.number_list.number_list-5 {
    transform: translate(-50%, 0) rotate(216deg);
}
.number_list.number_list-6 {
    transform: translate(-50%, 0) rotate(180deg);
}
.number_list.number_list-7 {
    transform: translate(-50%, 0) rotate(144deg);
}
.number_list.number_list-8 {
    transform: translate(-50%, 0) rotate(108deg);
}
.number_list.number_list-9 {
    transform: translate(-50%, 0) rotate(72deg);
}
.number_list.number_list-10 {
    transform: translate(-50%, 0) rotate(36deg);
}



